// About Section //

.aboutHeader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#about {
  background-color: lightgray;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  padding: 4rem 0 4rem 0;
}

.homeaboutTitle {
  font-size: $largeSize;
  padding-bottom: 1rem;
  color: black;
}

.aboutTitle {
  font-size: $largeSize;
  padding-bottom: 1rem;
}

.aboutPara {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.aboutBigPara {
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  text-align: left;
}

.aboutBtn {
  font-size: 3rem;
  padding: 1rem;
}

.aboutTitle {
  text-align: left;
  color: white;
  margin-left: 25%;
}

.aboutListItem {
  text-align: left;
  color: white;
  margin-left: 25%;
}

.aboutSpan {
  color: lightgreen;
  font-size: 3.5rem;
}

// Media Queries //
@media screen and (max-width: 767px) {
  .aboutTitle {
    font-size: $mediumSize;
    padding-bottom: 1rem;
  }
  .homeaboutTitle {
    font-size: $mediumSize;
    padding-bottom: 1rem;
    color: black;
  }

  .aboutPara {
    font-size: 2rem;
  }

  .aboutBtn {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .aboutTitle {
    font-size: $mediumSize;
    padding-bottom: 1rem;
  }

  .aboutPara {
    font-size: 2rem;
  }

  .aboutBtn {
    font-size: 2rem;
  }
}
