// Financial Aid //

#finance {
  background-color: lightgray;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  padding: 4rem 0 4rem 0;
}

.aidTitle {
  font-size: $largeSize;
  padding-bottom: 1rem;
}

.aidPara {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.aidBtn {
  font-size: 3rem;
  padding: 0.5rem;
}

// Media Queries //
@media screen and (max-width: 768px) {
  .aidTitle {
    font-size: $mediumSize;
    padding-bottom: 1rem;
  }

  .aidPara {
    font-size: 2rem;
  }

  .aidBtn {
    font-size: 2rem;
  }
}
