// Navbar Section //

.mainLogo {
  background-color: green;
  border-radius: 50%;
  display: block;
  margin-left: 1rem;
}

a.mainLogo:hover {
  background-color: green !important;
  color: white !important;
  user-select: none;
}

.topnav {
  overflow: hidden;
  background-color: blue;
  border-bottom: 5px solid white;
  position: fixed;
  width: 100vw;
  margin-top: -5rem;
  padding-bottom: 1rem;
}

.topnav a {
  display: inline-flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

a.icon {
  margin-bottom: -2rem;
  display: none;
}

a.icon:hover {
  color: aqua !important;
  background-color: transparent !important;
}

#topnavItem {
  margin-top: 6rem;
}

.navitem:hover {
  background-color: white;
  color: black;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: fixed;
  }

  #navIcon {
    display: hidden !important;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none !important;
    display: block;
    text-align: left;
  }
  .mainLogo {
    display: none;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    padding-top: 5rem;
  }
  a#topnavItem {
    margin-top: 5rem;
  }

  a#topnavItem {
    color: white;
  }
  a#topnavItem:hover {
    color: black;
    background-color: white;
  }
}
