// Showcase Section //

// Home Page Showcase //
#showcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(9, 1, 123, 0.5),
      rgba(9, 1, 123, 0.5)
    ),
    url("../assets/contactUniversity.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Programs Page Showcase //
.programsShowcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(9, 1, 123, 0.5),
      rgba(9, 1, 123, 0.5)
    ),
    url("../assets/lecturehall2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.programHeader {
  grid-area: header;
  font-size: 5rem;
  color: white;
}

// Tours Page Showcase //
.toursShowcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(9, 1, 123, 0.5),
      rgba(9, 1, 123, 0.5)
    ),
    url("../assets/universityArea.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tourHeader {
  grid-area: header;
  font-size: 5rem;
  color: white;
}

// Enroll Page Showcase //
.enrollShowcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(9, 1, 123, 0.5),
      rgba(9, 1, 123, 0.5)
    ),
    url("../assets/universityGate.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.enrollHeader {
  grid-area: header;
  font-size: 5rem;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// Cost Page Showcase //
.costShowcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(9, 1, 123, 0.5),
      rgba(9, 1, 123, 0.5)
    ),
    url("../assets/universityTour.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.costHeader {
  grid-area: header;
  font-size: 5rem;
  color: white;
}

// About Page Showcase //
.aboutShowcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(9, 1, 123, 0.5),
      rgba(9, 1, 123, 0.5)
    ),
    url("../assets/students.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aboutHeader {
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.header {
  grid-area: header;
  font-size: 4rem;
  color: white;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.slogan {
  grid-area: slogan;
  font-size: 4rem;
  color: aqua;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.mainBtn {
  color: white;
  background-color: blue;
  padding: 0.5rem;
  border: 1px solid white;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
  text-align: center;
  font-size: 2rem;
}

.mainBtn:hover {
  background-color: lightgreen;
  border: 1px solid white;
  transition: 200ms ease-in-out;
  color: black;
}

// Media Queries //

@media screen and (max-width: 320px) {
  div.header {
    font-size: 2rem;
    text-align: center;
  }
  .slogan {
    font-size: 1.5rem;
    text-align: center;
  }
  .mainBtn {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100px;
  }
}

@media screen and (min-width: 321px) {
  div.header {
    font-size: 2.5rem;
    text-align: center;
  }
  .slogan {
    font-size: 2.2rem;
    text-align: center;
  }
  .mainBtn {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 500px) {
  div.header {
    font-size: 3.2rem;
    text-align: center;
    margin-top: -2rem;
  }
  .slogan {
    font-size: 2.5rem;
    text-align: center;
  }
  .mainBtn {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
  }

  div.costHeader {
    font-size: 8rem;
  }

  div.enrollHeader {
    font-size: 8rem;
  }

  div.aboutHeader {
    font-size: 8rem;
  }

  div.tourHeader {
    font-size: 8rem;
  }

  div.programHeader {
    font-size: 8rem;
  }
}

@media screen and (min-width: 768px) {
  div.header {
    font-size: 3.5rem;
    margin-top: -1.5rem;
  }

  .slogan {
    font-size: 3.2rem;
    margin: 0;
  }

  .mainBtn {
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
  }

  .costHeader {
    font-size: 11rem;
  }

  .enrollHeader {
    font-size: 11rem;
  }

  .aboutHeader {
    font-size: 11rem;
  }

  .tourHeader {
    font-size: 11rem;
  }

  .programHeader {
    font-size: 11rem;
  }

  // Programs Page Showcase //
  .programsShowcase {
    font-size: 11rem;
  }

  // Tours Page Showcase //
  .toursShowcase {
    font-size: 7rem;
  }

  // Enroll Page Showcase //
  .enrollShowcase {
    font-size: 7rem;
  }

  // Cost Page Showcase //
  .costShowcase {
    font-size: 7rem;
  }

  // About Page Showcase //
  .aboutShowcase {
    font-size: 7rem;
  }
}

@media screen and (min-width: 1000px) {
  div.header {
    font-size: 6rem;
    text-align: center;
    margin-top: -2rem;
  }
  .slogan {
    font-size: 5rem;
    text-align: center;
  }
  .mainBtn {
    font-size: 2.5rem;
    padding: 1rem;
    margin-top: 1rem;
  }
}
