// Sass Variables //

$primary-color: rgb(209, 9, 2);
$secondary-color: rgb(88, 0, 0);
$tertiary-color: rgb(129, 83, 83);
$light-color: rgb(245, 153, 153);
$dark-color: rgb(40, 0, 0);
$smallSize: 2rem;
$mediumSize: 4rem;
$largeSize: 6rem;
$extralargeSize: 8rem;
$notQuick: 1s;
$quick: 500ms;
$superQuick: 250ms;
