@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
*,
html,
body,
section,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
a,
video,
img,
audio,
ul,
li,
article,
b,
blockquote,
caption,
code,
data,
em,
fieldset,
header,
footer,
form,
input,
iframe,
label,
nav,
pre,
select,
table,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

.mainLogo {
  background-color: green;
  border-radius: 50%;
  display: block;
  margin-left: 1rem;
}

a.mainLogo:hover {
  background-color: green !important;
  color: white !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.topnav {
  overflow: hidden;
  background-color: blue;
  border-bottom: 5px solid white;
  position: fixed;
  width: 100vw;
  margin-top: -5rem;
  padding-bottom: 1rem;
  z-index: 3;
}

.topnav a {
  display: inline-flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

a.icon {
  margin-bottom: -2rem;
  display: none;
}

a.icon:hover {
  color: aqua !important;
  background-color: transparent !important;
}

#topnavItem {
  margin-top: 6rem;
}

.navitem:hover {
  background-color: white;
  color: black;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: fixed;
  }

  #navIcon {
    display: hidden !important;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none !important;
    display: block;
    text-align: left;
  }

  .mainLogo {
    display: none;
  }

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    padding-top: 5rem;
  }

  a#topnavItem {
    margin-top: 5rem;
  }

  a#topnavItem {
    color: white;
  }

  a#topnavItem:hover {
    color: black;
    background-color: white;
  }
}
#footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.bigfooterList {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footerItem {
  color: white;
}

.footerItemLink {
  color: white;
}

.footerItemLink:hover {
  color: blue;
  transition: 200ms;
}

.footerList1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5rem;
}

.footerList2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: gray;
}

/* Social Media Tags */
.socialMedia {
  font-size: 6rem;
  color: white;
}

.socialContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#facebook {
  color: #9393f5;
  font-size: 6rem;
}

#facebook:hover {
  transform: translateY(-20px);
  transition: 200ms ease-in-out;
}

#twitter {
  color: aqua;
  font-size: 6rem;
}

#twitter:hover {
  transform: translateY(-20px);
  transition: 200ms ease-in-out;
}

#linkedin {
  color: #03035e;
  font-size: 6rem;
}

#linkedin:hover {
  transform: translateY(-20px);
  transition: 200ms ease-in-out;
}

#snapchat {
  color: yellow;
  font-size: 6rem;
}

#snapchat:hover {
  transform: translateY(-20px);
  transition: 200ms ease-in-out;
}

#instagram {
  color: purple;
  font-size: 6rem;
}

#instagram:hover {
  transform: translateY(-20px);
  transition: 200ms ease-in-out;
}

@media screen and (max-width: 767px) {
  .socialMedia {
    font-size: 3rem;
    color: white;
  }

  #facebook {
    font-size: 4rem;
  }

  #twitter {
    font-size: 4rem;
  }

  #instagram {
    font-size: 4rem;
  }

  #linkedin {
    font-size: 4rem;
  }

  #snapchat {
    font-size: 4rem;
  }

  .footerItem {
    font-size: 2rem;
  }

  .footerItemLink {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .socialMedia {
    font-size: 5rem;
    color: white;
  }

  #facebook {
    font-size: 6rem;
  }

  #twitter {
    font-size: 6rem;
  }

  #instagram {
    font-size: 6rem;
  }

  #linkedin {
    font-size: 6rem;
  }

  #snapchat {
    font-size: 6rem;
  }

  .footerItem {
    font-size: 3.5rem;
  }

  .footerItemLink {
    font-size: 3.5rem;
  }

  .bigfooterList {
    grid-template-columns: auto auto;
  }

  .footerList2 {
    margin-top: 1rem;
  }
}
#showcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/contactUniversity.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.programsShowcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/lecturehall2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.programHeader {
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.toursShowcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/universityArea.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tourHeader {
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.enrollShowcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/universityGate.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.enrollHeader {
  grid-area: header;
  font-size: 5rem;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.costShowcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/universityTour.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.costHeader {
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.aboutShowcase {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/students.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aboutHeader {
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.header {
  grid-area: header;
  font-size: 4rem;
  color: white;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slogan {
  grid-area: slogan;
  font-size: 4rem;
  color: aqua;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mainBtn {
  color: white;
  background-color: blue;
  padding: 0.5rem;
  border: 1px solid white;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  text-align: center;
  font-size: 2rem;
}

.mainBtn:hover {
  background-color: lightgreen;
  border: 1px solid white;
  transition: 200ms ease-in-out;
  color: black;
}

@media screen and (max-width: 320px) {
  div.header {
    font-size: 2rem;
    text-align: center;
  }

  .slogan {
    font-size: 1.5rem;
    text-align: center;
  }

  .mainBtn {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100px;
  }
}
@media screen and (min-width: 321px) {
  div.header {
    font-size: 2.5rem;
    text-align: center;
  }

  .slogan {
    font-size: 2.2rem;
    text-align: center;
  }

  .mainBtn {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
@media screen and (min-width: 500px) {
  div.header {
    font-size: 3.2rem;
    text-align: center;
    margin-top: -2rem;
  }

  .slogan {
    font-size: 2.5rem;
    text-align: center;
  }

  .mainBtn {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
  }

  div.costHeader {
    font-size: 8rem;
  }

  div.enrollHeader {
    font-size: 8rem;
  }

  div.aboutHeader {
    font-size: 8rem;
  }

  div.tourHeader {
    font-size: 8rem;
  }

  div.programHeader {
    font-size: 8rem;
  }
}
@media screen and (min-width: 768px) {
  div.header {
    font-size: 3.5rem;
    margin-top: -1.5rem;
  }

  .slogan {
    font-size: 3.2rem;
    margin: 0;
  }

  .mainBtn {
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
  }

  .costHeader {
    font-size: 11rem;
  }

  .enrollHeader {
    font-size: 11rem;
  }

  .aboutHeader {
    font-size: 11rem;
  }

  .tourHeader {
    font-size: 11rem;
  }

  .programHeader {
    font-size: 11rem;
  }

  .programsShowcase {
    font-size: 11rem;
  }

  .toursShowcase {
    font-size: 7rem;
  }

  .enrollShowcase {
    font-size: 7rem;
  }

  .costShowcase {
    font-size: 7rem;
  }

  .aboutShowcase {
    font-size: 7rem;
  }
}
@media screen and (min-width: 1000px) {
  div.header {
    font-size: 6rem;
    text-align: center;
    margin-top: -2rem;
  }

  .slogan {
    font-size: 5rem;
    text-align: center;
  }

  .mainBtn {
    font-size: 2.5rem;
    padding: 1rem;
    margin-top: 1rem;
  }
}
#testimonial {
  display: hidden;
}

.testimonialTitle {
  font-size: 4rem;
  background-color: lightgray;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.myImages {
  height: 200px;
  width: auto;
  border: 3px solid blue;
  margin-bottom: 2rem;
}

.testimonialContainer1, .testimonialContainer2 {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
}
.testimonialContainer1 .testimonialName, .testimonialContainer2 .testimonialName {
  text-align: right;
  color: blue;
}
.testimonialContainer1 .testimonial1, .testimonialContainer2 .testimonial1 {
  background-color: lightgray;
  font-size: 2rem;
  margin: 0rem;
  padding: 2rem;
  width: 100%;
  text-align: center;
  border: 1px solid white;
}
.testimonialContainer1 .testimonialP, .testimonialContainer2 .testimonialP {
  color: black;
}

@media screen and (min-width: 768px) {
  .testimonialContainer1, .testimonialContainer2 {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
  }

  .testimonialTitle {
    font-size: 6rem;
  }
}
.aboutHeader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about {
  background-color: lightgray;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  padding: 4rem 0 4rem 0;
}

.homeaboutTitle {
  font-size: 6rem;
  padding-bottom: 1rem;
  color: black;
}

.aboutTitle {
  font-size: 6rem;
  padding-bottom: 1rem;
}

.aboutPara {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.aboutBigPara {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  text-align: left;
}

.aboutBtn {
  font-size: 3rem;
  padding: 1rem;
}

.aboutTitle {
  text-align: left;
  color: white;
  margin-left: 25%;
}

.aboutListItem {
  text-align: left;
  color: white;
  margin-left: 25%;
}

.aboutSpan {
  color: lightgreen;
  font-size: 3.5rem;
}

@media screen and (max-width: 767px) {
  .aboutTitle {
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  .homeaboutTitle {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: black;
  }

  .aboutPara {
    font-size: 2rem;
  }

  .aboutBtn {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .aboutTitle {
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  .aboutPara {
    font-size: 2rem;
  }

  .aboutBtn {
    font-size: 2rem;
  }

  .aboutBigPara {
    font-size: 2.5rem;
  }
}
#contact {
  background-color: #d10902;
}

body {
  background-color: blue;
  font-family: Oswald;
  margin: 0;
  padding: 0;
}

h1, p, h2 {
  text-align: center;
  font-size: 2rem;
  color: #280000;
}

button {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  width: 100px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  background-color: transparent;
  border: 1px solid black;
}

button:hover {
  color: white;
  background-color: blue;
  transition: 200ms;
  cursor: pointer;
}

.fas,
.far {
  color: black;
  font-size: 2.5rem !important;
  margin-top: 2rem;
  margin-bottom: 0rem;
  padding-bottom: 1rem;
  overflow: auto;
}

i {
  color: darkgray;
  font-size: 3rem;
  margin: 1rem;
}

i:hover {
  cursor: pointer;
  color: aqua;
  transition: 500ms;
}

.whyTitle {
  color: white;
  font-size: 5rem;
}

#cta {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
}

.ctaouterContainer {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto;
  margin: 2rem;
}

.ctainnerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.innerItemIcon {
  text-align: center;
  color: white;
  margin: 2rem;
  font-size: 6rem !important;
}

.innerItemTitle {
  text-align: center;
  color: white;
  font-size: 4rem;
}

.innerItemPara {
  text-align: center;
  color: white;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .whyTitle {
    color: white;
    font-size: 7rem;
  }

  .innerItemIcon {
    font-size: 8rem;
  }

  .innerItemTitle {
    font-size: 5rem;
  }

  .innerItemPara {
    font-size: 2.8rem;
  }
}
.cost {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  background-color: blue;
  padding: 2rem 0 0rem 0;
  width: 100%;
}

.costHeader {
  font-size: 6rem;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title1 {
  color: white;
  font-size: 4rem;
  text-align: right;
}

.title2 {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.costTitle1 {
  text-align: center;
  padding: 0 0 1rem 0;
  font-size: 5rem;
  color: white;
}

.costTitle2 {
  text-align: left;
  padding-top: 1rem;
  font-size: 4rem;
  color: white;
  line-height: 40px;
}

.costBtn {
  padding: 1rem;
  font-size: 2rem;
  color: white;
  background-color: green;
}

.costBtn:hover {
  padding: 1rem;
  font-size: 2rem;
  color: black;
  background-color: lightgreen;
}

#finance {
  background-color: lightgray;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  padding: 4rem 0 4rem 0;
}

.aidTitle {
  font-size: 6rem;
  padding-bottom: 1rem;
}

.aidPara {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.aidBtn {
  font-size: 3rem;
  padding: 0.5rem;
}

.costPara {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.2rem;
}

th {
  background-color: blue;
  color: white;
  width: 25%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 25%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

tr:nth-child(even) {
  background-color: lightgray;
  color: black;
}

tr:nth-child(odd) {
  color: white;
}

@media screen and (max-width: 767px) {
  .aidTitle {
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  .aidPara {
    font-size: 2rem;
  }

  .aidBtn {
    font-size: 2rem;
  }

  .cost {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    background-color: blue;
    padding: 2rem 0 4rem 0;
    width: 100%;
  }

  .title1 {
    color: white;
    font-size: 4rem;
    text-align: center;
  }

  table {
    width: 50% !important;
    margin-right: 25% !important;
    margin-left: 15% !important;
  }
}
@media screen and (min-width: 768px) {
  .cost {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    background-color: blue;
    padding: 2rem 0 4rem 0;
    width: 100%;
  }

  .title1 {
    color: white;
    font-size: 4rem;
    padding-top: 1rem;
  }

  .costPara {
    font-size: 1.6rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  table {
    font-size: 1.5rem;
    overflow-x: visible;
    margin-right: 14rem;
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
}
.campustourTitle {
  text-align: left;
  font-size: 6rem;
  padding: 0 0 0 25%;
  background-color: white;
  font-weight: 400;
}

span {
  color: blue;
}

label {
  text-align: center;
  font-size: 2rem;
  margin-left: 25%;
}

input[type=text],
select,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=text]:hover {
  background-color: white;
}

input[type=date]:hover {
  background-color: white;
}

input[type=date] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: blue;
  padding: 1.5rem;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
}

input[type=submit]:hover {
  background-color: darkgreen;
}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100vw;
  padding: 2rem 0rem 2rem 0rem;
}

.tourHeader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toursContainer {
  display: grid;
  justify-content: center;
  height: 100vh;
  grid-template-columns: auto;
  flex-direction: column;
}

#toursbackground {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  padding: 0 0 0 0;
  background: linear-gradient(to right, rgba(9, 1, 123, 0.6), rgba(9, 1, 123, 0.6)), url("../assets/aboutUs.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 140vh;
}

.tourDetails {
  color: white;
  padding-bottom: 10px;
  text-align: left;
}

input {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

select {
  margin: 0;
  padding: 1rem;
}

input[submit] {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

input:hover {
  background-color: green;
}

#tourTitle {
  text-align: center;
  padding-top: 12rem;
  font-size: 3.5rem;
  color: white;
}

.tourSubmit {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1rem;
  color: white;
  padding: 2rem;
  border-radius: 0;
  font-size: 1.5rem;
  border: 1px solid white;
}

.tourInput {
  width: 100% !important;
}

.tourSubmit:hover {
  background-color: green;
}

#tour {
  background-color: blue;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  padding: 4rem 0 4rem 0;
  background: linear-gradient(to right, rgba(9, 1, 123, 0.6), rgba(9, 1, 123, 0.6)), url("../assets/campus.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tourTitle {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: white;
}

.tourPara {
  font-size: 2rem;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 1rem;
  color: white;
}

.tourBtn {
  font-size: 2rem;
  padding: 1rem;
  color: white;
  border: 1px solid white;
}

.tourBtn:hover {
  background-color: green;
}

@media screen and (max-width: 767px) {
  input {
    margin-bottom: 1rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  input[submit] {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .tourSubmit {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  input[type=text] {
    width: 90%;
  }

  #email {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .tourTitle {
    font-size: 6rem;
  }

  .aboutPara {
    font-size: 3rem;
  }

  .aboutBtn {
    font-size: 3rem;
  }
}
.programContainer {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.innerPrograms {
  margin: 3rem;
}

.programHeader {
  font-size: 6rem;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.programsTitle {
  font-size: 5rem;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

.programsCard {
  border: 1px solid black;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2rem;
}

i.fas:hover {
  color: black;
  cursor: default;
}

.cardTitle {
  font-size: 3.5rem;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.cardPara {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

div.content {
  background-color: transparent;
  color: black;
  text-align: center;
  width: 500px;
}

.faqContent {
  color: white;
  background-color: blue;
  margin-left: 25%;
  margin-right: 25%;
  width: 500px;
}

.collapsible {
  color: darkgray;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 15px;
  margin: auto;
  width: 500px;
}

#faqTitle {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.faqbigContainer {
  display: flex;
  justify-content: center !important;
  background-color: white;
  padding-bottom: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.faqsmallContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.innerfaq {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 25%;
  width: 50%;
  flex: 100%;
  border: 1px solid blue;
  color: white;
  background-color: white;
}

.innerfaq:hover {
  background-color: blue;
  color: white !important;
  cursor: pointer;
}

.collapsible:hover {
  color: white;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  color: white;
  margin-right: 25%;
  width: 100%;
}

#faq1, #faq6, #faq5, #faq4, #faq3, #faq2 {
  cursor: default;
}

.innerfaq p:hover {
  color: white;
}

.innerfaq p {
  display: inline-flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .collapsible {
    width: 1300px;
  }

  #faqTitle {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1000px) {
  .collapsible {
    width: 1600px;
  }
}
#nextSemester {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  padding: 4rem 0 0 0;
  border: 1px solid white;
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/clock2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70vh;
}

.nextSemesterTitle {
  font-size: 4rem;
  margin-bottom: 0rem;
  color: white;
}

.nextSemesterBtn {
  font-size: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  color: white;
  background-color: white;
  border: 1px solid black;
  color: black;
}

#countDown {
  color: white;
  font-size: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nextSemesterTitle {
    font-size: 6rem;
  }

  .nextSemesterBtn {
    font-size: 3rem;
    padding: 0.5rem;
  }

  #countDown {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
}/*# sourceMappingURL=main.css.map */