@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
*,
html,
body,
section,
aside,
h1,
h2,
p,
h2,
h3,
h4,
h5,
h6,
div,
p,
a,
video,
img,
audio,
ul,
li,
article,
b,
blockquote,
caption,
code,
data,
em,
fieldset,
header,
footer,
form,
input,
iframe,
label,
nav,
pre,
select,
table,
textarea {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

.mainLogo {
  background-color: green;
  border-radius: 50%;
  display: block;
  margin-left: 1rem;
}

a.mainLogo:hover {
  background-color: green !important;
  color: white !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.topnav {
  overflow: hidden;
  background-color: blue;
  border-bottom: 5px solid white;
  position: fixed;
  width: 100vw;
  margin-top: -5rem;
  padding-bottom: 1rem;
}

.topnav a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

a.icon {
  margin-bottom: -2rem;
  display: none;
}

a.icon:hover {
  color: aqua !important;
  background-color: transparent !important;
}

#topnavItem {
  margin-top: 6rem;
}

.navitem:hover {
  background-color: white;
  color: black;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: fixed;
  }
  #navIcon {
    display: hidden !important;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none !important;
    display: block;
    text-align: left;
  }
  .mainLogo {
    display: none;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    padding-top: 5rem;
  }
  a#topnavItem {
    margin-top: 5rem;
  }
  a#topnavItem {
    color: white;
  }
  a#topnavItem:hover {
    color: black;
    background-color: white;
  }
}

#footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bigfooterList {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footerItem {
  color: white;
}

.footerItemLink {
  color: white;
}

.footerItemLink:hover {
  color: blue;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.footerList1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5rem;
}

.footerList2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: gray;
}

/* Social Media Tags */
.socialMedia {
  font-size: 6rem;
  color: white;
}

.socialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#facebook {
  color: #9393f5;
  font-size: 6rem;
}

#facebook:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#twitter {
  color: aqua;
  font-size: 6rem;
}

#twitter:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#linkedin {
  color: #03035e;
  font-size: 6rem;
}

#linkedin:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#snapchat {
  color: yellow;
  font-size: 6rem;
}

#snapchat:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#instagram {
  color: purple;
  font-size: 6rem;
}

#instagram:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

@media screen and (max-width: 767px) {
  .socialMedia {
    font-size: 3rem;
    color: white;
  }
  #facebook {
    font-size: 4rem;
  }
  #twitter {
    font-size: 4rem;
  }
  #instagram {
    font-size: 4rem;
  }
  #linkedin {
    font-size: 4rem;
  }
  #snapchat {
    font-size: 4rem;
  }
  .footerItem {
    font-size: 2rem;
  }
  .footerItemLink {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .socialMedia {
    font-size: 5rem;
    color: white;
  }
  #facebook {
    font-size: 6rem;
  }
  #twitter {
    font-size: 6rem;
  }
  #instagram {
    font-size: 6rem;
  }
  #linkedin {
    font-size: 6rem;
  }
  #snapchat {
    font-size: 6rem;
  }
  .footerItem {
    font-size: 3.5rem;
  }
  .footerItemLink {
    font-size: 3.5rem;
  }
}

#showcase {
  width: 100vw;
  height: 80vh;
  line-height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 1, 123, 0.5)), to(rgba(9, 1, 123, 0.5))), url("../assets/contactUniversity.jpg");
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/contactUniversity.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.programsShowcase {
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 1, 123, 0.5)), to(rgba(9, 1, 123, 0.5))), url("../assets/lecturehall2.jpeg");
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/lecturehall2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.programHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.toursShowcase {
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 1, 123, 0.5)), to(rgba(9, 1, 123, 0.5))), url("../assets/universityArea.jpeg");
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/universityArea.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tourHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.enrollShowcase {
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 1, 123, 0.5)), to(rgba(9, 1, 123, 0.5))), url("../assets/universityGate.jpeg");
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/universityGate.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.enrollHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.costShowcase {
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 1, 123, 0.5)), to(rgba(9, 1, 123, 0.5))), url("../assets/universityTour.jpeg");
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/universityTour.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.costHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.aboutShowcase {
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 1, 123, 0.5)), to(rgba(9, 1, 123, 0.5))), url("../assets/students.jpeg");
  background: linear-gradient(to right, rgba(9, 1, 123, 0.5), rgba(9, 1, 123, 0.5)), url("../assets/students.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aboutHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  font-size: 5rem;
  color: white;
}

.slogan {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: slogan;
  font-size: 4rem;
  color: aqua;
}

.enroll {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: enroll;
  background-color: blue;
  border: 2px solid black;
  color: white;
  padding: 0rem;
  border-radius: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 1rem;
}

.enroll:hover {
  color: white;
  background-color: green;
  border: 1px solid white;
}

.learnMore {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: learnMore;
  background-color: blue;
  border: 2px solid black;
  color: white;
  padding: 0rem;
  border-radius: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 1rem;
}

.learnMore:hover {
  color: white;
  background-color: green;
  border: 1px solid white;
}

.grid-container {
  width: 100vw;
  height: 80vh;
  line-height: 70px;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
      grid-template-areas: "header header header header header header" "slogan slogan slogan slogan slogan slogan" "enroll enroll enroll learnMore learnMore learnMore";
  -ms-flex-line-pack: center;
      align-content: center;
}

.grid-container > div,
a {
  background-color: transparent;
  text-align: center;
  padding: 0;
  font-size: 30px;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .enroll {
    font-size: 1.8rem;
  }
  .learnMore {
    font-size: 1.8rem;
  }
  #showcase {
    width: 100vw;
    height: 70vh;
    line-height: 80px;
  }
  .grid-container {
    width: 100vw;
    height: 80vh;
    line-height: 70px;
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
        grid-template-areas: "header header header header header header" "slogan slogan slogan slogan slogan slogan" "enroll enroll enroll learnMore learnMore learnMore";
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (min-width: 368px) {
  .header {
    font-size: 5rem !important;
  }
  .programHeader {
    font-size: 6.5rem !important;
  }
  .enrollHeader {
    font-size: 6.5rem !important;
  }
  .aboutHeader {
    font-size: 6.5rem !important;
  }
  .tourHeader {
    font-size: 6.5rem !important;
  }
  .costHeader {
    font-size: 6.5rem !important;
  }
  .slogan {
    font-size: 4rem;
  }
  .enroll {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
  }
  .learnMore {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 6.5rem !important;
  }
  .slogan {
    font-size: 5rem !important;
  }
  .enroll {
    font-size: 3rem !important;
  }
  .learnMore {
    font-size: 3rem !important;
  }
  .costHeader {
    font-size: 11rem !important;
  }
  .enrollHeader {
    font-size: 11rem !important;
  }
  .aboutHeader {
    font-size: 11rem !important;
  }
  .tourHeader {
    font-size: 11rem !important;
  }
  .programHeader {
    font-size: 11rem !important;
  }
  .programsShowcase {
    font-size: 7rem;
  }
  .toursShowcase {
    font-size: 7rem;
  }
  .enrollShowcase {
    font-size: 7rem;
  }
  .costShowcase {
    font-size: 7rem;
  }
  .aboutShowcase {
    font-size: 7rem;
  }
}

#testimonial {
  display: hidden;
}

.testimonialTitle {
  font-size: 4rem;
  background-color: lightgray;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.myImages {
  height: 200px;
  width: auto;
  border: 3px solid blue;
  margin-bottom: 2rem;
}

.testimonialContainer1, .testimonialContainer2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.testimonialContainer1 .testimonialName, .testimonialContainer2 .testimonialName {
  text-align: right;
  color: blue;
}

.testimonialContainer1 .testimonial1, .testimonialContainer2 .testimonial1 {
  background-color: lightgray;
  font-size: 2rem;
  margin: 0rem;
  padding: 2rem;
  width: 100%;
  text-align: center;
  border: 1px solid white;
}

.testimonialContainer1 .testimonialP, .testimonialContainer2 .testimonialP {
  color: black;
}

@media screen and (min-width: 768px) {
  .testimonialContainer1, .testimonialContainer2 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .testimonialTitle {
    font-size: 6rem;
  }
}

#about {
  background-color: lightgray;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 4rem 0 4rem 0;
}

.homeaboutTitle {
  font-size: 6rem;
  padding-bottom: 1rem;
  color: black;
}

.aboutTitle {
  font-size: 6rem;
  padding-bottom: 1rem;
}

.aboutPara {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.aboutBigPara {
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  text-align: left;
}

.aboutBtn {
  font-size: 3rem;
  padding: 1rem;
}

.aboutTitle {
  text-align: left;
  color: white;
  margin-left: 25%;
}

.aboutListItem {
  text-align: left;
  color: white;
  margin-left: 25%;
}

.aboutSpan {
  color: lightgreen;
  font-size: 3.5rem;
}

@media screen and (max-width: 767px) {
  .aboutTitle {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
  .homeaboutTitle {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: black;
  }
  .aboutPara {
    font-size: 2rem;
  }
  .aboutBtn {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .aboutTitle {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
  .aboutPara {
    font-size: 2rem;
  }
  .aboutBtn {
    font-size: 2rem;
  }
}

#contact {
  background-color: #d10902;
}

body {
  background-color: blue;
  font-family: Oswald;
  margin: 0;
  padding: 0;
}


h1,
h2,
p {
  text-align: center;
  font-size: 2rem;
  color: #280000;
}

button {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  width: 100px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  background-color: transparent;
  border: 1px solid black;
}

button:hover {
  color: white;
  background-color: blue;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

.fas,
.far {
  color: black;
  font-size: 3rem !important;
  margin-top: 2rem;
}

i {
  color: darkgray;
  font-size: 3rem;
  margin: 1rem;
}

i:hover {
  cursor: pointer;
  color: aqua;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.whyTitle {
  color: white;
  font-size: 5rem;
}

#cta {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.ctaouterContainer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  margin: 2rem;
}

.ctainnerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.innerItemIcon {
  text-align: center;
  color: white;
  margin: 2rem;
  font-size: 6rem !important;
}

.innerItemTitle {
  text-align: center;
  color: white;
  font-size: 4rem;
}

.innerItemPara {
  text-align: center;
  color: white;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .whyTitle {
    color: white;
    font-size: 7rem;
  }
  .innerItemIcon {
    font-size: 8rem;
  }
  .innerItemTitle {
    font-size: 5rem;
  }
  .innerItemPara {
    font-size: 2.8rem;
  }
}

.cost {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: blue;
  padding: 2rem 0 0rem 0;
  width: 100%;
}

.costheader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  font-size: 6rem !important;
  color: white;
}

.title1 {
  color: white;
  font-size: 4rem;
  text-align: right;
}

.title2 {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.costTitle1 {
  text-align: center;
  padding: 0 0 1rem 0;
  font-size: 5rem;
  color: white;
}

.costTitle2 {
  text-align: left;
  padding-top: 1rem;
  font-size: 4rem;
  color: white;
  line-height: 40px;
}

.costBtn {
  padding: 1rem;
  font-size: 2rem;
  color: white;
  background-color: green;
}

.costBtn:hover {
  padding: 1rem;
  font-size: 2rem;
  color: black;
  background-color: lightgreen;
}

#finance {
  background-color: lightgray;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 4rem 0 4rem 0;
}

.aidTitle {
  font-size: 6rem;
  padding-bottom: 1rem;
}

.aidPara {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.aidBtn {
  font-size: 3rem;
  padding: 0.5rem;
}

.costPara {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 2rem;
}

th {
  background-color: blue;
  color: white;
  width: 25%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 25%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

tr:nth-child(even) {
  background-color: lightgray;
  color: black;
}

tr:nth-child(odd) {
  color: white;
}

@media screen and (max-width: 767px) {
  .aidTitle {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
  .aidPara {
    font-size: 2rem;
  }
  .aidBtn {
    font-size: 2rem;
  }
  .cost {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: blue;
    padding: 2rem 0 4rem 0;
    width: 100%;
  }
  .title1 {
    color: white;
    font-size: 4rem;
    text-align: center;
  }
  table {
    width: 50% !important;
    margin-right: 25% !important;
    margin-left: 15% !important;
  }
}

@media screen and (min-width: 768px) {
  .cost {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: blue;
    padding: 2rem 0 4rem 0;
    width: 100%;
  }
  .title1 {
    color: white;
    font-size: 4rem;
  }
}

.campustourTitle {
  text-align: left;
  font-size: 6rem;
  padding: 0 0 0 25%;
  background-color: white;
  font-weight: 400;
}

span {
  color: blue;
}

label {
  text-align: center;
  font-size: 2rem;
  margin-left: 25%;
}

input[type="text"],
select,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="text"]:hover {
  background-color: white;
}

input[type="date"]:hover {
  background-color: white;
}

input[type="date"] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: blue;
  padding: 1.5rem;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
}

input[type="submit"]:hover {
  background-color: darkgreen;
}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100vw;
  padding: 2rem 0rem 2rem 0rem;
}

.toursContainer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#toursbackground {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 0 0 0 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 1, 123, 0.6)), to(rgba(9, 1, 123, 0.6))), url("../assets/aboutUs.jpg");
  background: linear-gradient(to right, rgba(9, 1, 123, 0.6), rgba(9, 1, 123, 0.6)), url("../assets/aboutUs.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 140vh;
}

.tourDetails {
  color: white;
  padding-bottom: 10px;
  text-align: left;
}

input {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

select {
  margin: 0;
  padding: 1rem;
}

input[submit] {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

input:hover {
  background-color: green;
}

#tourTitle {
  text-align: center;
  padding-top: 12rem;
  font-size: 3.5rem;
  color: white;
}

.tourSubmit {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1rem;
  color: white;
  padding: 2rem;
  border-radius: 0;
  font-size: 1.5rem;
  border: 1px solid white;
}

.tourInput {
  width: 100% !important;
}

.tourSubmit:hover {
  background-color: green;
}

#tour {
  background-color: blue;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 4rem 0 4rem 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 1, 123, 0.6)), to(rgba(9, 1, 123, 0.6))), url("../assets/campus.jpeg");
  background: linear-gradient(to right, rgba(9, 1, 123, 0.6), rgba(9, 1, 123, 0.6)), url("../assets/campus.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tourTitle {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: white;
}

.tourPara {
  font-size: 2rem;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 1rem;
  color: white;
}

.tourBtn {
  font-size: 2rem;
  padding: 1rem;
  color: white;
  border: 1px solid white;
}

.tourBtn:hover {
  background-color: green;
}

@media screen and (max-width: 767px) {
  input {
    margin-bottom: 1rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  input[submit] {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .tourSubmit {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  input[type="text"] {
    width: 90%;
  }
  #email {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .tourTitle {
    font-size: 6rem;
  }
  .aboutPara {
    font-size: 3rem;
  }
  .aboutBtn {
    font-size: 3rem;
  }
}

.programContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.innerPrograms {
  margin: 3rem;
}

.programheader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  font-size: 6rem !important;
  color: white;
}

.programsTitle {
  font-size: 5rem;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

.programsCard {
  border: 1px solid black;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2rem;
}

i.fas:hover {
  color: black;
  cursor: default;
}

.cardTitle {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.cardPara {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

div.content {
  background-color: transparent;
  color: black;
  text-align: center;
}

.faqContent {
  color: white;
  background-color: blue;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

#faqTitle {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.faqbigContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding-bottom: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.faqsmallContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.innerfaq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  border: 1px solid blue;
  color: white;
  background-color: white;
}

.innerfaq:hover {
  background-color: blue;
  color: white !important;
  cursor: pointer;
}

.collapsible {
  color: darkgray;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
  width: 600px;
}

.collapsible:hover {
  color: white;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  color: white;
  margin-right: 25%;
  width: 100%;
}

#faq1, #faq2, #faq3, #faq4, #faq5, #faq6 {
  cursor: default;
}

.innerfaq p:hover {
  color: white;
}

.innerfaq p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .collapsible {
    width: 1300px;
  }
  #faqTitle {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1000px) {
  .collapsible {
    width: 1600px;
  }
}
/*# sourceMappingURL=main.css.map */